<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4"> 
		<section>
			<h1>
				<%= @user.name %>
			</h1>
    	</section>
  	</aside>
	<div class="span8">
		<% if @user.ibeacons.any? %>
			<h3>iBeacons (<%= @user.ibeacons.count %>)</h3>
			<ol class="ibeacons">
				<%= render @ibeacons %>
			</ol>
			<%= will_paginate @ibeacons %>
		<% end %>
	</div>
</div>


<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Add New iBeacon', addbeacon_path(@ibeacon) %> |
<%= link_to 'Back', users_path %>
