<% provide(:title, "Edit ibeacon") %>
<h1>Update your iBeacon</h1>

<div class="row">
	<div class="span6 offset3">
	<%= form_for @ibeacon do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
		
		 Beacon  <%= @ibeacon.beacon_id %>
		<%= f.text_field :TabButton1, placeholder: "Tab 1" %>
		<%= f.text_field :Title1, placeholder: "Title 1" %>
		<%= f.text_field :Company, placeholder: "Company" %>
		<%= f.text_area :Description1, placeholder: "Description 1" %>
		<%= f.text_field :TabButton2, placeholder: "Tab 2" %>
		<%= f.text_field :Title2, placeholder: "Title 2" %>
		<%= f.text_area :Description2, placeholder: "Description 2" %>
		<%= f.text_field :TabButton3, placeholder: "Tab 3" %>
		<%= f.text_field :Title3, placeholder: "Title 3" %>
		<%= f.text_area :Description3, placeholder: "Description 3" %>



		<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
	<% end %>
</div>