<li>
<span class="beacon_id">
	ID <%= @ibeacon.beacon_id %>
</span>
<span class="logo">
	<%= image_tag @ibeacon.logo_url(:thumb) if @ibeacon.logo?  %>  
</span>

<span class="image1">
	<%= image_tag @ibeacon.image1_url(:thumb) if @ibeacon.image1?  %>  
</span>
<span class="timestamp">
	Created <%= time_ago_in_words(@ibeacon.created_at) %> ago. 
	<%= @ibeacon.TabButton1 %>
	<%= @ibeacon.TabButton2 %>
	<%= @ibeacon.TabButton3 %>
</span>


</li>